<form>
    <table>
        <tr>
            <td>
                Client Name:
            </td>
            <td>
                <input name="Client Name" type="text" width="100"/><br/><br/>
            </td>
          </tr>
            <tr>
                <td>
                    Client Location:
                </td>
                <td>
                    <input name="Client Location" type="text" width="100"/><br/><br/>
                </td>
              </tr>
                <tr>
                    <td>
                        Client Head:
                    </td>
                    <td>
                        <input name="Client Head" type="text" width="100"/><br/><br/>
                    </td>
                  </tr>
            <tr>
              <td>
                Status:
              </td>
              <td>
                  <select>
                      <option value=" ">......</option>
                      <option value="Active">Active</option>
                      <option value="Inactive">Inactive</option>
                    </select><br/><br/>
              </td>
            </tr>
            <tr>
                <button type="submit"  value="Submit" width="100">Submit</button>   
        </tr>          
</table>
</form>