<form>
<table>
    <tr>
        <td valign="top">
             Project Name:
        </td>
        <td valign="top">
             <input name="Project Name" type="text" width="100"/><br/><br/>
         </td>
    </tr>
    <tr>
        <td valign="top">
            Client Name:
        </td>
        <td valign="top"> 
            <input name="Client Name" type="text" width="100"/><br/><br/>
        </td>
    <tr>
        <td valign="top">
            Owner:
        </td>
        <td valign="top">
            <input name="Owner" type="text" width="100"/><br/><br/>
        </td>
    </tr>
    <tr>
        <td valign="top">
            Project Type:
        </td>
        <td valign="top">
            <select>
                <option value=" ">......</option>
                <option value="Fixed">Fixed</option>
                <option value="Time and Material">Time and Material</option>
                <option value="POC">POC</option>
                <option value="RND">RND</option>
            </select><br/><br/>  
        </td>
    </tr>
    <tr>
        <td valign="top"> 
            Start Date:
        </td>
        <td valign="top">
            <input name="Start Date" type="Date" width="100"/><br/><br/>
        </td>
    </tr>
    <tr>
        <td valign="top">
            End Date:
        </td>
        <td valign="top">
                <input name="End Date" type="Date" width="100"/><br/><br/>
        </td>
    </tr>
    <tr>
        <td valign="top">
            Team Count:
        </td>
        <td valign="top">
                <input name="Team Count" type="text" width="100"/><br/><br/>
            
        </td>
    </tr>
    <tr>
            <td valign="top">
                Team Size:
            </td>
            <td valign="top">
                    <input name="Team Size" type="text" width="100"/><br/><br/>
                
            </td>
        </tr>
        <tr>
                <td valign="top">
                    Project Status:
                </td>
                <td valign="top">
                    <select>
                        <option value=" ">......</option>
                        <option value="Active">Active</option>
                        <option value="On-hold">On-hold</option>
                        <option value="Closed">Closed</option>
                    </select><br/><br/>  
                </td>
            </tr>
          <tr>
                    <button type="submit"  value="Submit">Submit</button>   
            </tr>  
                    
</table>
</form>